server:
  port: 7001
  servlet:
    context-path: /springcloud-provider-config-client
  tomcat:
    uri-encoding: UTF-8



mybatis:
  mapper-locations: com/zy/cn/mapper/*.xml
  type-aliases-package: com.zy.cn.entity


spring:
  datasource:
    url: jdbc:mysql://10.0.45.103/mysql-test?characterEncoding=utf8
    type: com.alibaba.druid.pool.DruidDataSource
    username: root
    password: root
    driver-class-name: com.mysql.jdbc.Driver
  http:
    encoding:
      enabled: true
      charset: UTF-8
      force: true
  messages:
    encoding: UTF-8



devtools:
  restart:
    exclude: static/**,templates/**
    enabled: true
  jpa:
    database: MYSQL
    show-sql: true
